<mat-nav-list>
  <div class="profile_card">
    <div class="header">
      <img src="https://cdn.iconscout.com/icon/free/png-512/avatar-369-456321.png" alt="profile pic">
      <h2>RIYA VARYANI</h2>
      <h4>example@email.com</h4>
    </div>

  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader>General</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>dashboard</mat-icon>Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/form">
    <mat-icon>account_box</mat-icon>Form</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
    <mat-icon>book</mat-icon>Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
    <mat-icon>turned_in</mat-icon>Articles</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>

</mat-nav-list>


