<h1>Form</h1>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-title>Personal details</mat-card-title>
  <mat-grid-list cols="3" rowHeight="120px">
    <mat-grid-tile>
  <mat-form-field>
    <mat-placeholder>First Name</mat-placeholder>
    <input matInput>
  </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
  <mat-form-field>
    <mat-placeholder>Last Name</mat-placeholder>
    <input matInput>
  </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-placeholder>Email</mat-placeholder>
        <input matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-placeholder>Phone No.</mat-placeholder>
        <input matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
  <mat-form-field>
    <mat-placeholder>Password</mat-placeholder>
    <input matInput>
  </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="wrapper">
  <button mat-raised-button color="primary">Submit</button>
    </div>
</mat-card>
